* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #f7f7f7;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
}

.destination-wrapper {
    padding-bottom: 80px;
}

/* .section-title {
    border-bottom: 2px solid #000
} */

.destinations {
    text-align: center;

}

.destination {
    float: left;
    width: 20%;
}

.destination-img {
    position: relative;
    margin: 0 auto;
}

.destination-img p {
    font-size: 20px;
    position: absolute;
    top: 80%;
    width: 100%;
    color: rgb(255, 255, 255);
}

.rounded-corner {
    border-radius: 7px;
}

.img-resize {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.img-zoom {
    height: 300px;
    width: 200px;
    overflow: hidden;
}

.img-zoom img {
    transition: transform .5s ease;
}

.img-zoom:hover img {
    transform: scale(1.25);
}

.clear {
    clear: left;
}