* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
}

.destination-wrapper {
    padding-bottom: 80px;
}

/* .section-title {
    border-bottom: 2px solid #000
} */

.destinations {
    text-align: center;

}

.destination {
    float: left;
    width: 20%;
}

.destination-img {
    position: relative;
    margin: 0 auto;
}

.destination-img p {
    font-size: 20px;
    position: absolute;
    top: 80%;
    width: 100%;
    color: rgb(255, 255, 255);
}

.rounded-corner {
    border-radius: 7px;
}

.img-resize {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.img-zoom {
    height: 300px;
    width: 200px;
    overflow: hidden;
}

.img-zoom img {
    transition: transform .5s ease;
}

.img-zoom:hover img {
    transform: scale(1.25);
}

.clear {
    clear: left;
}

/* subscribe */
.subscribe-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.subscribe-box {
    width: 1000px;
    max-width: 100%;
    margin: auto;
    background: url(img/subscribe-banner.jpg);
    background-size: cover;
    border-radius: 7px;
    padding: 60px 20px;
}

.subscribe-box h3 {
    text-align: center;
    font-size: 22px;
    color: white;
}

.subscribe-box form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.email-input {
    width: 600px;
    max-width: 100%;
    text-align: left;
    font-size: 14px;
    color: blue;
    border-radius: 2px;
    border: 0px;
    padding: 15px 0px 15px 20px;
    background: #f0f4ef;
    margin-right: 10px;
}

.email-input:focus,
.email-input:hover {
    outline: 0px;
}

.subscribe-btn {
    border: 0px;
    width: 300px;
    max-width: 100%;
    padding: 15px;
    font-size: 15px;
    background: #344966;
    cursor: pointer;
    border-radius: 0px 2px 2px 0px;
    outline: 0;
    transition: all 0.2s;
}

.subscribe-btn:hover {
    background: #213144;
}